Package: com.samplasion.7heaven
Name: 7-Heaven
Depends: mobilesubstrate
Version: 0.2.0
Architecture: iphoneos-arm
Description: Ports the iOS 7 "Free" App Store button to newer devices!
Maintainer: Francesco Arieti
Author: Francesco Arieti
Section: Tweaks
